<div class="row">
    <div class="col-sm-1" ng-repeat="semester in pensum.courses">
        {{semester}} {{pensum.coursesDate[semester - 1]}}
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == semester">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1" ng-repeat="semester in pensum.nCourses">
        {{semester}}
        <div ng-repeat="subject in pensum.pensum | orderBy: 'name'" ng-if="subject.level == semester">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
</div>
