<div class="row">
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 1">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 2">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 3">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 4">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 5">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 6">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 7">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 8">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 9">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 10">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 11">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="subject in pensum.pensum" ng-if="subject.level == 12">
            {{subject.name}} {{subject.uc}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 1">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 2">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 3">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 4">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 5">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 6">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 7">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 8">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 9">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 10">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 11">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
    <div class="col-sm-1">
        <div ng-repeat="item in pensum.pensumScore | orderBy: 'subject.name'" ng-if="item.subject.course.courseLevel.indexLevel == 12">
            {{item.subject.name}} <strong>{{item.score}}</strong>
        </div>
    </div>
</div>
